:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  transition: all 0.3s ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979696;
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*transform: scale(1.2);*/
  background: rgb(79, 79, 79);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/*CHAT*/

.chatPage{
  background-image: url("../public/bg.png");
  background-color: rgb(22, 21, 21);
  width : 100vw;
  height : 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.chatContainer{
  border-radius: 1vmax 1vmax;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(129, 126, 126, 0.2), 0 6px 20px 0 rgba(88, 64, 64, 0.19);
  background-color: white;
  height: 60%;
  width: 50%;
}

.header{
  background-color: crimson;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vmax;
}

.header > h2{
  color : white;
  margin: 1.2vmax;
}
.header > svg{
  transition: all 0.3s;
  cursor: pointer;
}
.header > svg:hover{
  transform: scale(1.5);
}

.chatBox{
  border-bottom: 0.2vmax solid black;
  height: 70%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.inputBox{
  height: 15%;
  box-sizing: border-box;
  display: flex;
}

#chatInput{
  width: 80%;
  border: none;
  padding: 2vmax;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  outline: none;
  font-size: 1vmax;
  font-weight: 500;
}

.sendBtn{
  background-color: rgb(255, 1, 52);
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2vmax;
}

.sendBtn:hover{
  background-color: rgb(151, 8, 8);
}
.sendBtn > svg{
  width: 3vmax;
  transition: all 0.3s;
}
.sendBtn:hover svg {
  transform: translateX(10px);
}


/*MESSAGE BOX*/

.messageBox{
  /* max-width: 80%; */
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 0.5vmax;
  display: inline-block;
  clear: both;
  font-size: 1.2vmax;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.8s;
}


.right{
  float: right;
  text-align: right;
  background-color: rgb(41, 190, 61);
  color: white;
}

.left{
  float: left;
  text-align: left;
  background-color: rgb(7, 189, 240);
  color: white;
}



.middle{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(148, 44, 62);
}



/*JOIN*/

.JoinPage{
  background-image: url("../public/bg.png");
  background-color: rgb(22, 21, 21);
  width : 100vw;
  height : 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer{
  /* border: 2px solid white; */
  /*width : 50%;*/
  /*height : 50%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}


.JoinContainer > h1{
  color: white;
  font-size: 2.5vmax;
  width : 310px;
  border-bottom: 0.2vmax solid white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1vmax;
}

#joinInput{
  width: 100%;
  min-height: 4vh;
  padding: 1vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}

.joinbtn{
  width: 100%;
  padding: 1vmax;
  border: none;
  color: white;
  outline: 1.2vmax;
  background-color: rgb(248, 8, 56);
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
.joinbtn:hover{
  background-color: rgb(117, 23, 41);
}
